venv/
__pycache__/
*.pyc

# Entries from demos/esp32/esp32-LED-demo/.gitignore
# These rules ignore project-specific files for the ESP32 LED demo:

demos/esp32/esp32-LED-demo/.pio/

demos/esp32/esp32-LED-demo/.vscode/.browse.c_cpp.db*

demos/esp32/esp32-LED-demo/.vscode/c_cpp_properties.json

demos/esp32/esp32-LED-demo/.vscode/launch.json

demos/esp32/esp32-LED-demo/.vscode/ipch/
